* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sams-serif";
  }
body
{
    background-image: url("background3.jpeg");
    
}
.topic
{
  
    height:45px;
    width:1320px;
    background-color: rgb(6, 224, 240);
    padding:10px;
    border-color:black;
    border-radius:10px;
    margin-left:10px;
    border-style:double;
  
   
    
}
#h
{
    margin-top:1px;
}
nav {
    flex: 1;
    text-align: right;
   
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
    font-weight:lighter;
  }
  .option {
    height: 3%;
    display: flex;
    align-items: center;
    margin-top:10px;
  }
  .alloptions {
    margin-top: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  

  .alloptions img
  {
   
    height:170px;
    width:170px;
}

  .content1
  {
    height:200px;
    width:180px;
    background-color: rgb(6, 224, 240);
    border-radius:30px;
    padding:10px;
    border-style:solid;
    margin-right:70px;
   
  
  }
  .content2
  {
    height:200px;
    width:180px;
    background-color: rgb(6, 224, 240);
    border-radius:30px;
    padding:10px;
    border-style:solid;
    margin-right:70px;

  }
 
  .content3
  {
    height:200px;
    width:180px;
    background-color: rgb(6, 224, 240);
    border-radius:30px;
    padding:10px;
    border-style:solid;
    margin-right:70px;

  }
 
  .content4
  {
    height:200px;
    width:180px;
    background-color: rgb(6, 224, 240);
    border-radius:30px;
    padding:10px;
    border-style:solid;
    margin-right:70px;

  }

  #info1 
  {
    margin-top:7px;
    margin-left:50px;
  }
  #info2
  {
    margin-top:7px;
    margin-left:50px;
  }
  #info3
  {
    margin-top:7px;
    margin-left:30px;
  }
 
  #info4
  {
    margin-top:7px;
    margin-left:40px;
  }
  .btn
  {
    height:25px;
    height:25px;
    background-color:rgb(6, 224, 240);
    border-style: groove;
    padding:3px ;
    font-weight: bold;
    border-radius:5px;
    font-size: 15px;
    transition: 400ms;
  }

  .btn:hover {
   
    transform: scale(1.03);
  }
    
 
 
 
 